# Virtual environment
.venv

# All __pycache__ files
**/__pycache__

# All scratch / sandbox notebooks
**/*scratch.ipynb
**/*sandbox.ipynb

# Editable module installation for local dev
**/usedcaranalytics.egg-info

# .env file containing sensitive API login credentials
**/.env