# Virtual environment
.venv

# All __pycache__ files
**/__pycache__

# All logs
logs/
**/*.log

# All datasets
raw/
processed/

# All scratch / sandbox notebooks and scripts
**/*scratch.*
**/*sandbox.*

# Editable module installation for local dev
**/*.egg-info

# .env file containing sensitive API login credentials
**/.env

# All parquet files
*.parquet

# Chromadb
**/chromadb