# Virtual environment
.venv

# All __pycache__ files
**/__pycache__

# Editable module installation for local dev
src/usedcaranalytics.egg-info

# .env file containing sensitive API login credentials
src/usedcaranalytics/config/.env